In [1]:
import seaborn as sns
from tqdm import tqdm
import pandas as pd
from rpy2.robjects import r, pandas2ri
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import os

In [2]:
pandas2ri.activate()

In [3]:
from isaac.constants import BASIC_TRAINING_COLS, YOKED_TRAINING_COLS

In [4]:
def are_all_coordinates_within_bounds(trial):
    
    for coord in ["o1.x", "o2.x", "o3.x", "o4.x", "o1.y", "o2.y", "o3.y", "o4.y"]:
        if (trial[coord] < 0).any().any():
            return False
        
    for x_coord in ["o1.x", "o2.x", "o3.x", "o4.x"]:
        if (trial[x_coord] > 6).any().any():
            return False 
        
    for y_coord in ["o1.y", "o2.y", "o3.y", "o4.y"]:
        if (trial[y_coord] > 4).any().any():
            return False
    
    return True

# Experiment 1

In [5]:
rdata_path = "data/experiment1.rdata"
r['load'](rdata_path)

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fc73a5143c8 / R:0x556dce9915b8>
['df.l', 'df.w', 'ls.clips', 'ls.events']

In [6]:
all_trials = r['ls.clips']

is_active = (r['df.l'].condition == '1')
is_passive = (r['df.l'].condition == '0')

responses = r['df.l'][["trueMass", "trueRelationship"]]
YOKED_PATH = "data/yoked_trials_exp1.h5"
PASSIVE_PATH = "data/passive_trials_exp1.h5"

ALTERNATIVE_TRAINING_COLS = ["object"+str(obj)+"."+attr for obj in range(1, 5) for attr in ["x", "y", "vx", "vy"]]

/home/hector/miniconda3/envs/diss/lib/python3.5/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [7]:
if os.path.exists(YOKED_PATH):
    os.remove(YOKED_PATH)

if os.path.exists(PASSIVE_PATH):
    os.remove(PASSIVE_PATH)

In [8]:
flat_trials = []
trial_i = 0

for participant in all_trials:
    for trial in participant:
        trial = pandas2ri.ri2py_dataframe(trial)
        # print(trial["idControlledObject"].nunique() > 1, is_active[trial_i])
        flat_trials.append(trial)
        trial_i += 1

/home/hector/miniconda3/envs/diss/lib/python3.5/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [9]:
len(flat_trials), len(is_active), len(is_passive), len(responses)

(484, 704, 704, 704)

In [10]:
is_active.sum(), is_passive.sum()

(220, 264)

In [11]:
# The first 484 are either active or passive
print((is_active[:-220] == ~is_passive[:-220]).all())

#The last 220 trials are neither active nor passive, therefore they are yoked
print((is_active[-220:] == is_passive[-220:]).all())

True
True

In [12]:
skipped = 0

for trial_i, (trial, is_active_trial) in tqdm(enumerate(zip(flat_trials, is_active)), total=len(flat_trials)):

    response = responses.iloc[trial_i]
    
    if set(ALTERNATIVE_TRAINING_COLS).issubset(trial.columns):
        trial = trial.rename({alt_col: col for col, alt_col in 
                              zip(BASIC_TRAINING_COLS, ALTERNATIVE_TRAINING_COLS)}, axis="columns")
    else:
        # print("Not all columns are available for participant")
        skipped += 1
        continue

    if not are_all_coordinates_within_bounds(trial):
        print("Skipping trial because coordinates out of bounds")
        continue


    trial["C_none"] = (trial["idControlledObject"] == "none")
    trial["C_O1"] = (trial["idControlledObject"] == "object1")
    trial["C_O2"] = (trial["idControlledObject"] == "object2")
    trial["C_O3"] = (trial["idControlledObject"] == "object3")
    trial["C_O4"] = (trial["idControlledObject"] == "object4")

    trial = trial[YOKED_TRAINING_COLS + ["idControlledObject"]].copy()

    true_mass = response["trueMass"]
    trial["A"] = (true_mass == "A")
    trial["B"] = (true_mass == "B")
    trial["same"] = (true_mass == "same")

    true_relationship = response["trueRelationship"]
    trial["attract"] = (true_relationship == "attract")
    trial["none"] = (true_relationship == "none")
    trial["repel"] = (true_relationship == "repel")

    if is_active_trial:
        hdf_path = YOKED_PATH
    else:
        hdf_path = PASSIVE_PATH
        
    trial.to_hdf(path_or_buf=hdf_path, key="trial_"+str(trial_i))

print(skipped / 11, "participants for which velocities weren't recorded")
skipped=0

  7%|▋         | 32/484 [00:00<00:14, 31.31it/s]

Skipping trial because coordinates out of bounds

 41%|████      | 199/484 [00:03<00:05, 50.60it/s]

Skipping trial because coordinates out of bounds

100%|██████████| 484/484 [00:06<00:00, 69.55it/s]

13.0 participants for which velocities weren't recorded

# Experiment 2

In [13]:
MASS_PATH = "data/mass_trials_exp2.h5"
FORCE_PATH = "data/force_trials_exp2.h5"

rdata_path = "data/experiment2.rdata"
r['load'](rdata_path)

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fc735fef248 / R:0x556dce0f76b8>
['df.l', 'df.w', 'ls.clips', 'ls.events']

In [14]:
responses = r['df.l'].query("experiment == 'experiment_4'")[["trueMass", "trueRelationship"]]
all_trials = r['ls.clips']

/home/hector/miniconda3/envs/diss/lib/python3.5/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [15]:
if os.path.exists(MASS_PATH):
    os.remove(MASS_PATH)

if os.path.exists(FORCE_PATH):
    os.remove(FORCE_PATH)

In [16]:
trial_counter = -1

for participant in tqdm(all_trials):
    for trial in participant:
        trial_counter += 1
        trial = pandas2ri.ri2py_dataframe(trial)
        
        if trial.question.unique()[0] == "mass":
            hdf_path = MASS_PATH
        else:
            hdf_path = FORCE_PATH
        
        if not are_all_coordinates_within_bounds(trial):
            print("SKIPPING")
            if trial.question.unique()[0] == "mass":
                print("Skipping trial for mass")
            elif trial.question.unique()[0] == "relationship":
                print("Skipping trial for force")
            continue

        trial["C_none"] = (trial["idControlledObject"] == "none")
        trial["C_O1"] = (trial["idControlledObject"] == "object1")
        trial["C_O2"] = (trial["idControlledObject"] == "object2")
        trial["C_O3"] = (trial["idControlledObject"] == "object3")
        trial["C_O4"] = (trial["idControlledObject"] == "object4")
            
        trial = trial[YOKED_TRAINING_COLS + ["idControlledObject"]].copy()
                
        true_mass = responses.iloc[trial_counter]["trueMass"]
        trial["A"] = (true_mass == "A")
        trial["B"] = (true_mass == "B")
        trial["same"] = (true_mass == "same")

        true_relationship = responses.iloc[trial_counter]["trueRelationship"]
        trial["attract"] = (true_relationship == "attract")
        trial["none"] = (true_relationship == "none")
        trial["repel"] = (true_relationship == "repel")

        trial.to_hdf(path_or_buf=hdf_path, key="trial_"+str(trial_counter), format="table")

  0%|          | 0/40 [00:00<?, ?it/s]/home/hector/miniconda3/envs/diss/lib/python3.5/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)
 85%|████████▌ | 34/40 [00:31<00:05,  1.03it/s]

SKIPPING
Skipping trial for force
SKIPPING
Skipping trial for mass

100%|██████████| 40/40 [00:37<00:00,  1.01it/s]

# READING DATASET

In [17]:
from isaac.dataset import read_dataset

In [29]:
passive_dataset = read_dataset(PASSIVE_PATH)
passive_dataset[0].head()

100%|██████████| 196/196 [00:01<00:00, 162.93it/s]

,o1.x,o1.y,o1.vx,o1.vy,o2.x,o2.y,o2.vx,o2.vy,o3.x,o3.y,...,C_O4,mouseX,mouseY,idControlledObject,A,B,same,attract,none,repel
0,3.041,2.336,-1.694,-1.259,0.504,1.500,-3.297,1.327,4.157,3.547,...,False,588.0,178.0,none,False,True,False,False,False,True
1,3.013,2.315,-1.690,-1.257,0.451,1.522,3.229,0.878,4.178,3.517,...,False,588.0,178.0,none,False,True,False,False,False,True
2,2.985,2.294,-1.687,-1.254,0.505,1.537,3.226,0.877,4.229,3.462,...,False,588.0,178.0,none,False,True,False,False,False,True
3,2.957,2.273,-1.682,-1.251,0.559,1.551,3.222,0.876,4.295,3.402,...,False,588.0,178.0,none,False,True,False,False,False,True
4,2.929,2.252,-1.677,-1.248,0.612,1.566,3.219,0.876,4.361,3.341,...,False,588.0,178.0,none,False,True,False,False,False,True

In [28]:
exp1_dataset = read_dataset(YOKED_PATH)
exp1_dataset[0].head()

100%|██████████| 143/143 [00:00<00:00, 153.57it/s]

,o1.x,o1.y,o1.vx,o1.vy,o2.x,o2.y,o2.vx,o2.vy,o3.x,o3.y,...,C_O4,mouseX,mouseY,idControlledObject,A,B,same,attract,none,repel
0,4.225,0.293,-5.212,7.858,0.689,2.983,-4.137,-8.938,2.072,1.883,...,False,171.0,389.0,none,False,True,False,False,True,False
1,4.138,0.437,-5.207,7.851,0.620,2.834,-4.132,-8.932,2.086,1.747,...,False,171.0,389.0,none,False,True,False,False,True,False
2,4.051,0.568,-5.203,7.844,0.552,2.685,-4.126,-8.926,2.112,1.612,...,False,171.0,389.0,none,False,True,False,False,True,False
3,3.965,0.698,-5.198,7.836,0.483,2.537,-4.121,-8.919,2.139,1.478,...,False,171.0,389.0,none,False,True,False,False,True,False
4,3.878,0.829,-5.192,7.828,0.485,2.404,4.034,-7.108,2.165,1.344,...,False,171.0,389.0,none,False,True,False,False,True,False

In [30]:
yoked_dataset = read_dataset(MASS_PATH)
yoked_dataset[0].head()

100%|██████████| 399/399 [00:06<00:00, 58.56it/s]

,o1.x,o1.y,o1.vx,o1.vy,o2.x,o2.y,o2.vx,o2.vy,o3.x,o3.y,...,C_O4,mouseX,mouseY,idControlledObject,A,B,same,attract,none,repel
0,2.72027,2.54902,6.82968,6.11876,1.51623,2.09434,5.78482,-4.91547,3.77683,0.93449,...,False,492.0,377.0,none,False,False,True,True,False,False
1,2.83388,2.65091,6.81662,6.11355,1.61265,2.01252,5.78554,-4.90928,3.74444,0.79531,...,False,492.0,377.0,none,False,False,True,True,False,False
2,2.94729,2.75271,6.80479,6.10797,1.70907,1.93080,5.78529,-4.90279,3.71758,0.66116,...,False,492.0,377.0,none,False,False,True,True,False,False
3,3.06053,2.85442,6.79407,6.10224,1.80548,1.84920,5.78417,-4.89625,3.69105,0.52739,...,False,492.0,377.0,none,False,False,True,True,False,False
4,3.17360,2.95602,6.78430,6.09650,1.90185,1.76770,5.78231,-4.88980,3.66849,0.50496,...,False,492.0,377.0,none,False,False,True,True,False,False

In [31]:
yoked_dataset = read_dataset(FORCE_PATH)
yoked_dataset[0].head()

100%|██████████| 399/399 [00:06<00:00, 57.81it/s]

,o1.x,o1.y,o1.vx,o1.vy,o2.x,o2.y,o2.vx,o2.vy,o3.x,o3.y,...,C_O4,mouseX,mouseY,idControlledObject,A,B,same,attract,none,repel
0,2.72027,2.54902,6.82968,6.11876,1.51623,2.09434,5.78482,-4.91547,3.77683,0.93449,...,False,28.0,386.0,none,False,False,True,True,False,False
1,2.83388,2.65091,6.81662,6.11355,1.61265,2.01252,5.78554,-4.90928,3.74444,0.79531,...,False,28.0,386.0,none,False,False,True,True,False,False
2,2.94729,2.75271,6.80479,6.10797,1.70907,1.93080,5.78529,-4.90279,3.71758,0.66116,...,False,28.0,386.0,none,False,False,True,True,False,False
3,3.06053,2.85442,6.79407,6.10224,1.80548,1.84920,5.78417,-4.89625,3.69105,0.52739,...,False,28.0,386.0,none,False,False,True,True,False,False
4,3.17360,2.95602,6.78430,6.09650,1.90185,1.76770,5.78231,-4.88980,3.66849,0.50496,...,False,28.0,386.0,none,False,False,True,True,False,False

In [32]:
df_list = read_dataset("data/train_passive_trials.h5", n_trials=10)
df_list[0].head()

100%|██████████| 10/10 [00:00<00:00, 221.50it/s]

,o1.x,o1.y,o1.vx,o1.vy,o2.x,o2.y,o2.vx,o2.vy,o3.x,o3.y,...,o4.x,o4.y,o4.vx,o4.vy,A,B,same,attract,none,repel
0,4.555363,1.439802,-6.937327,6.954494,0.808312,0.608930,6.549034,5.213333,1.637953,0.979222,...,2.312489,1.325347,-5.571054,6.824184,False,True,False,False,True,False
1,4.440096,1.555637,-6.915997,6.950097,0.917101,0.695618,6.527328,5.201250,1.644658,0.941331,...,2.220093,1.439238,-5.543806,6.833471,False,True,False,False,True,False
2,4.325193,1.671406,-6.894182,6.946143,1.025478,0.782050,6.502610,5.185913,1.651257,0.903450,...,2.128247,1.553392,-5.510725,6.849251,False,True,False,False,True,False
3,4.210661,1.787117,-6.871926,6.942690,1.133387,0.868146,6.474587,5.165781,1.657747,0.865570,...,2.037060,1.667969,-5.471231,6.874611,False,True,False,False,True,False
4,4.096507,1.902780,-6.849294,6.939785,1.240779,0.953792,6.443504,5.138741,1.664126,0.827684,...,1.946629,1.783198,-5.425823,6.913776,False,True,False,False,True,False